
/* skugga på h1-rubrik som ändrar färg över tid */

@keyframes flicker {
    0% {
      text-shadow: 0 0 15px #2A5360;
    }
    50% {
      text-shadow: 0 0 20px #04757B; 
    }
    100% {
      text-shadow: 0 0 25px #53ABA9;
    }
  }
/* scale där väderinfo ändrar storlek över tid */
@keyframes weatherSize {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.01, 1.01);
    }
}

/* keyframe för startsidan där bilder ändras övertid */

@keyframes slide {
  0% {
    background: url("../images/indexpic.jpg?width=1536&as=webp");
  }
  25% {
    background: url("../images/indexpic2.jpg?width=1536&as=webp");
  }
  50% {
    background: url("../images/indexpic3.jpg?width=1536&as=webp");
  }
  75% {
    background: url("../images/indexpic4.jpg?width=1536&as=webp");
  }
  100% {
    background: url("../images/indexpic.jpg?width=1536&as=webp");
  }
}