
/* skugga på h1-rubrik som ändrar färg över tid */

@keyframes flicker {
    0% {
      text-shadow: 0 0 15px #2A5360;
    }
    50% {
      text-shadow: 0 0 20px #04757B; 
    }
    100% {
      text-shadow: 0 0 25px #53ABA9;
    }
  }
/* scale där väderinfo ändrar storlek över tid */
@keyframes weatherSize {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.01, 1.01);
    }
}

/* rotation för bilder på länder-sidorna */

@keyframes rotatePicture {
  from {
      transform: rotate(-1deg);
  }
  to {
      transform: rotate(1deg);
  }
}
