@use "base";
@use "component";
@use "animations";

body {
    margin: 0;
    padding: 0;
    font-family: base.$primary-font;
    background-image: url('../images/beachbackground.webp');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* Generell design av Header */
header {
    height: 80px;
    background-color: base.$primary-blue;
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: base.$box-shadow;
}

.logo  {
    color: base.$standard-white;
    font-size: 0.8em;
    margin: 0;
    text-decoration: none;
}

main {
    background-color: base.$background-beige;
    opacity: 80%;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: base.$box-shadow;
}

article {
    width: 80%;
    max-width: 80ch;
    margin: 0 auto;
    line-height: 1.8em;
}

h1 {
    font-family: base.$primary-font;
    color: base.$standard-white;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
    animation-name: flicker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#searchForm {
    background-color: base.$primary-blue;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 550px;
    margin-right: 10px;
    margin-left: 10px;
}

#submit {
    padding: 10px 20px;
    background-color: base.$standard-white;
    color: base.$standard-black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover {
    background-color: base.$hover-blue;
}

#weatherInfo {
    background-color: base.$standard-white;
    padding: 5%;
    border-radius: 10px;
}

/* Styling av meny för mobilenheter */
nav {
    background-color: base.$primary-blue;
    box-shadow: base.$box-shadow;
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;
}

nav {

    ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

    li {
    padding: 0.8em 0;
    width: 100%;
  }

    a {
    color: base.$standard-white;
    text-decoration: none;
    padding: 0 1em;
  }

    li:hover {
    background-color: base.$hover-blue;
    cursor: pointer;
  }

}

/* Meny knapp för att öppna menyn */
.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: base.$primary-blue;
    border: base.$standard-white solid 1px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: base.$hover-blue;
    box-shadow: base.$box-shadow;
}

.menu-icon {
    margin-right: 3px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars {
    display: block;
    width: 25px;
    height: 3px;
    background-color: base.$standard-white;
    margin: 5px 0;
}

/* Knapp för att stänga menyn */
.close {
    margin: 1em 1.5em;
    padding: 10px 15px;

}

/* Roterar två lodräda streck till ett kryss */
.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}


/* Media querys */

/* Styling för meny vid större skärmar */
@media only screen and (min-width: 992px) {
    header {
        padding: 0 3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 1.2em 0;
    }
}

/* ANIMATIONER */
