@use "base";
@use "component";
@use "animations";

/* Generell styling för body */

body {
    margin: 0;
    padding: 0;
    font-family: base.$primary-font;
    background-image: url("../images/beachbackground.jpg?width=1100&as=webp");
    background-position: center 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* mixin för bakgrundsbilder på respektive htmlsida */

.spain-background {
    @include component.background;
    background-image: url('../images/background1.jpg?as=webp&width=1800');
}

.italy-background {
    @include component.background;
    background-image: url('../images/background2.jpg?as=webp&width=1800');
}

.france-background {
    @include component.background;
    background-image: url('../images/background3.jpg?as=webp&width=1800');
}

.croatia-background {
    @include component.background;
    background-image: url('../images/background4.jpg?as=webp&width=1800');
}


/* Generell design av Header */
header {
    height: 90px;
    background-color: base.$primary-blue;
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: base.$box-shadow;
}

.logo a {
    color: base.$standard-white;
    font-size: 4em;
    text-decoration: none;
}

.logo a:hover {
    color: base.$hover-blue;
}

/* nesting för breadcrumb */

nav {
    width: 265px;
    background-color: base.$background-beige;
    border-radius: 5px;
    text-align: center;
    opacity: 80%;
    padding: 5px; 
    margin: 0 auto;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline;
    }

     a {
        text-decoration: none;
        color: #000000;

        &:hover {
                color: base.$hover-blue;
        }
    }
}

/* styling för fet text och kursiv text */
span {
    color: base.$standard-black;
    font-weight: bold;
}

em {
    font-size: 12px;
}

/* styling för main, article, h1-rubrik */

main {
    background-color: base.$background-beige;
    opacity: 80%;
    width: base.$reccuring-width;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: base.$box-shadow;
}

article {
    width: base.$reccuring-width;
    max-width: 80ch;
    margin: 0 auto;
    line-height: 1.8em;
}

article p {
    text-align: center;
}

h1 {
    font-family: base.$primary-font;
    font-size: 2.5em;
    color: base.$standard-white;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
    animation-name: flicker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*-----STARTSIDA-----*/

/* sökformulär på startsidan */

#searchForm {
    display: flex;
    background-color: base.$primary-blue;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid base.$standard-white;
    border-radius: 5px;
    font-size: 16px;
    width: 550px;
    margin-right: 10px;
    margin-left: 10px;
}

#submit {
    padding: 10px 20px;
    background-color: base.$standard-white;
    color: base.$standard-black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover {
    background-color: base.$hover-blue;
}

/* bild-animering på startsidan */

#indexpic {
    width: base.$reccuring-width;
    height: 600px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    animation: slide 15s infinite;
}

/* dölj vid klick på sök i sökformuläret */

#indexpic {
    display: none; 
}

#indexpic.show {
    display: block; 
}


/* Styling för väder-rutan med väderinfo */

#weatherInfo {
    width: 550px;
    display: none;
    background-color: base.$standard-white;
    padding: 5%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    animation-name: weatherSize;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* visa bara vid klick på sök i sökformuläret */

#weatherInfo.visible {
    display: block;
    margin: 0 auto;
}

.weather-icon, .temperature-icon {
    margin-left: 30px;
    width: 70px;
    height: 70px;
}


/* Styling för element med bilder, visa bara vid klick av sök på sökformuläret */

#picture-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#travelPictures p {
    display: none; 
}

#travelPictures p.visible {
    display: block; 
}

#travelPictures picture {
    display: none;
    margin: 10px;
}

#travelPictures picture img, #travelPictures2 picture img {
    border-radius: 5px;
    width: 100%;
    transition: transform 0.3s ease;
}

#travelPictures picture img:hover, #travelPictures2 picture img:hover  {
    transform: scale(1.05);
    cursor: url('../images/suncursor.png'), auto;
}

#travelPictures picture.visible {
    display: block;
}


/* Styling för flaggor */

.flag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#flag-container .flag-img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 20px;
}

.flag-img {
    width: 200px;
}

/* styling för tabell med landsinformation */

#api-table {
    border-collapse: collapse;
    width: base.$reccuring-width;
    margin: 0 auto;
    background-color: base.$background-beige;
    opacity: 80%;
}

#api-table th, #api-table td {
    border: 1px solid black;
    padding: 5px;
}

#api-table img {
    height: 50px;
    width: auto;
}

/* styling med animering för bilder på respektive land-sida */

.rotate img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    animation: rotatePicture 2s linear infinite alternate;
}

/* generell styling för footer */

footer {
    height: 80px;
    background-color: base.$primary-blue;
    text-align: center;
    font-family: base.$primary-font;
}

footer p {
    font-size: 13px;
    line-height: 1.6em;
    font-weight: 500;
    padding-top: 20px;
    color: base.$standard-white;
}

/* ---MEDIA QUERIES--- */

/* Egen media query för sökformulär och indexpic på startsidan */

@media only screen and (min-width: 800px) and (max-width: 1020px) {
  
    input[type="text"] {
        width: 400px;
    }
    
    #indexpic {
        height: 400px;
    }
}

/* TABLETS */

@media only screen and (min-width: 700px) and (max-width: 960px) {

    h1 {
        font-size: 35px;
    }
    main {
        width: 85%;
    }

    #api-table {
        width: auto;
    }
    
    .rotate img {
        width: 90%;
    }
    
    footer {
        height: 90px;
    }
    
}

/* Egen media query för väder-rutan */

@media only screen and (min-width: 700) and (max-width: 752px) {
    #weatherInfo {
        width: 500px;
        font-size: 15px;
    }

    .weather-icon, .temperature-icon {
        height: 50px;
        width: 50px;
    }

}
/* MOBILE */
@media only screen and (max-width: 699px) {

    h1 {
        font-size: 25px;
    }

    main {
        width: 95%;
    }

    article p {
        font-size: 15px;
    }

    #searchForm {
        flex-direction: column;
    }
    
    label {
        order: 1;
        text-align: center;
    }
    
    input[type="text"] {
        order: 2; 
        width: calc(100% - 30px); 
        margin: 10px;
    }

    #submit {
        order: 3; 
        width: 75px;
        margin: 0 auto;
    }
    
    #indexpic {
        height: 300px;
    }

    #weatherInfo {
        width: 400px;
        font-size: 13px;
    }
    .weather-icon, .temperature-icon {
        width: 30px;
        height: 30px;
    }
    #picture-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #api-table td {
        display: block;
        width: 60%;
        text-align: center;
        margin: 0 auto;
    }

    #api-table thead {
        display: none;
    }

    .rotate img {
        width: 90%;
    }

    nav {
        width: 250px;
        font-size: 15px;
    }
}
